@using EmployeeeApp.Data

@model List<Order>
@{
    ProductData data = new ProductData();
    ClientData clientData = new ClientData();
    List<Order> Ordercount = new List<Order>();
}

<div>

    <div class="row mt-3">
        <div class="col-6 text-start">
            <h2>Client List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-person-plus-fill"></i>  Create New Client</a>
        </div>
    </div>

    <div>

        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Action</th>
                    <th scope="col" class="text-center">Order</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.ClientName</td>
                        <td>
                            @if (order.AddressId != null)
                            {
                                var address = clientData.GetClientDetailsById(order.AddressId);
                                string fullAddress = $"{address.CityName}, {address.StateName}, {address.Pincode}";
                                @fullAddress
                            }
                            else
                            {
                                <span class="text-muted ">(No Address)</span>
                            }
                        </td>
                        <td>
                            @order.TotalPrice Rs/-
                        </td>

                       
                        <td>

                            <a asp-action="Delete" asp-route-id="@order.ClientId" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                        </td>
                        <td class="text-center">
                            @{
                                Ordercount = data.OrderForId(order.ClientId);

                            }

                            @if (Ordercount.Count > 0)
                            {
                                <a asp-controller="Product" asp-action="Orders" asp-route-id="@order.ClientId" class="btn btn-outline-info">
                                    <i class="bi bi-bag"></i> Orders <span class="badge text-bg-primary rounded-pill">@Ordercount.Count</span>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Product" asp-action="Orders" asp-route-id="@order.ClientId" class="btn btn-outline-info">
                                    <i class="bi bi-bag"> Orders </i>
                                </a>
                            }


                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>