@model ClientDetails

<div class="container">
    <h2>
        Edit Client Address for ClientID <span>@Model.ClientId</span>
    </h2>
    <form asp-controller="Client" asp-action="EditLIst">
        <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" asp-for="Address" id="Address" class="form-control" value="@Model.Address" required />
        </div>
        <input hidden  asp-for="OrderId" class="form-control" value="@Model.OrderId"  />
        <input hidden  asp-for="ClientId"  class="form-control" value="@Model.ClientId" />
        <button type="submit" class="btn btn-primary">Update Address</button>
        <a class="btn btn-secondary" asp-controller="Client" asp-action="EditPage" asp-route-id="@Model.ClientId">Cancel</a>
    </form>

</div>