
@model List<ClientView>

<div>

    <div class="row mt-3">
        <div class="col-6 text-start">
            <h2>Client List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-person-plus-fill"></i>  Create New Client</a>
        </div>
    </div>

     <div>
        
            <table class="table table-light table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                <tr>
                        <td><a asp-action="Edit" asp-route-id="@client.Id" class="text-decoration-none text-black"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;@client.Name</a></td>
                        <td> <a asp-action="Edit" asp-route-id="@client.Id" class="text-decoration-none">@(client.Email != null ? client.Email : " - ")</a></td>
                        <td> <a asp-action="Edit" asp-route-id="@client.Id" class="text-decoration-none text-black">@(client.Role != null ? client.Role : " - ")</a></td>
                    <td>
                        
                        <a asp-action="Delete" asp-route-id="@client.Id" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        
     </div>
</div>